html{
    background-color: black;
}
body{
    background: url("../nixon-voting/americanEagle.jpeg");
    background-size: cover;
    position: relative;
}
div.row > h1{
    color: black;
    background: white;
    text-shadow: 2px 2px 3px blue;
    border: double 8px red;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
div.col-1-8{
    width: 11.25%;
    height: auto;
}
div.col-7-8{
    width: 88.75%;
    height: auto;
}
img#Nixon_Ballot, img#McGovern_Ballot{
    background: transparent;
}
img#Voting_Toggle{
    background: transparent;
}

/* function toggle */

.toggledCursor{
    cursor: url("cursorTest.png"), default;
    cursor: url("cursorTest.png"), pointer;
}